.package-price{
    border-radius: 8px;
    /* background-color: gray !important; */
}
.quantity{
width: 50px !important;
/* padding: 50px; */
}
.bg-title{
    border-radius: 8px; 
}
.submit-btn input{
    border-radius: 8px; 
    width: 100%;
}
.h6,
.h5{
    font-weight: bold;
}
.price{
    color: red;
    font-weight: bold;

}
table thead tr{
    background-color: white;
}
.ant-picker-content{
    border: none;
    border-color: white;
}
.star-icon.yellow {
    color: #FADB14 !important;
  }
  .star-icon.gray {
    color: #F8F8F8 !important;
  }
  /* Style for the star icons */
.star-icon {
    font-size: 20px; /* Adjust the size as needed */
    color: #F8F8F8; /* Color of inactive stars */
  
    /* Add additional styles like margin, padding, etc., to adjust the spacing between stars */
  }
  
  .star-active {
    color: #FADB14; /* Color of active stars (yellow) */
    cursor: pointer; /* Change cursor to a pointer on hover for interaction */
  }
  
  /* Add any other styles you need for your rating component */
  
  /* Optional: Add hover effect for star icons */
  .star-icon:hover {
    color: #FADB14; /* Change color when hovering over the stars */
  }
  

